// Colors
:root {
  --primary: #f76363;
  --bg: #0c0c0c;
  --elements: #111111;
  --font: #d4d4d4;
  --font-darker: #292929;

  --shadow: -10px 10px 0px #00000059;
  
  --border-radius: 12px;
  --border: 1px solid var(--font-darker);

  --profileBorder: 6px solid var(--primary);
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--font);
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: var(--font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

